body{
  background-color: azure;
  color:black;
  font-size:20px;
  margin:0px;
  padding:0px;
}

.Aboutus{
  background-color: beige;
    color:black;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    text-transform:capitalize;
    width:1800px;
    height: 400px;
    text-align: center;
    display:flex;
    flex-direction: column;
}
.backgroundbanner{
  background-image: url("./Images/backgroundimage.jpg");
  background-position: center;
  background-size: cover;
  width:1800px;
  height: px;
  display:flex;
  flex-direction: column;
  position: relative;
}
.Logo{
  background-image: url(./Images/crmimage.jpg);
  width:800px;
  height:500px;
 float: right;

}
.image{
  width:700px;
    height:800px;
    display:flex;
flex-direction: row;
}
.background {
  width:1800px;
  height:700px;
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
  display:flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  flex-wrap: wrap;
}
.consultant{
  width:700px;
  height:800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;

}
.Contact{
  width:700px;
  height:800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  float: right;
}
.nav{
  padding:12px;
  margin:15px;
  display:flex;
  flex-direction: row;
  color:black;

}
.nav li{
  font-size: 17px;
  padding:12px;
  display:flex;
  list-style-type: none;

}

.nav li:active{
  background-color: red;
  color:black;
  cursor:pointer;

}

.nav li:hover{
  background-color: blue;
  color:white;
  cursor:pointer;
}
.bannerpara{
  background-color: transparent;
  display:flex;
  flex-direction: row;
  text-align: center;
  width:1800px;
  height: 700px;
  line-height: 20px;
  text-transform: capitalize;
  position: relative;
  font-size: 20px;
  font-weight: bold;
  color:black;
}

.form{
  width:400px;
  height:400px;
  font-size:14px;
  font-weight: 600;
  line-height: 10px;
  text-transform: capitalize;
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  padding:20px;
  float:right;
  border:100px;
  color:black;
  text-align: right;

}

.bannerpara li{
  list-style-type: none;
  display:block;
  padding:10px;
  margin:10px;
  font-size:15px;
  color:black; 
}

#d1{
  width:400px;
  height:120px;
  color:black;
  background-color: orange;
}

/* Style inputs with type="text", select elements and textareas */

input[type=text], select {
  width:200px;     /* Give Width size  */
  padding:6px;     /*Some padding */
  border:1px solid lightcyan;    /* Lightcyan border*/
  border-radius:2px;    /* Rounded borders*/
  box-sizing: border-box;    /* Make sure that padding and width stays in place */
  margin-top:3px;     /* Add a top margin */
  margin-bottom:12px;  /* Bottom Margin*/
} 

/* Style the submit button with a specific background color etc */

input[type=submit] {
  background-color:azure;
  color:black;
  padding:8px 8px;
  border-radius:1px;
  cursor:pointer;
  text-align: right;
}

/* When moving the mouse over the submit button, add a darker green color */

input[type=submit]:hover{
  background-color: darkgreen;
}

/* Add some padding around the form */

.container{
  border-radius:3px;
  padding:13px;
}

.button{
  /*background-color: lightblue;*/
  color:black;
  font-size:17px;
  font-weight: bold;
  text-align: center;
  padding: 18px;
  border-radius: 1px solid grey;
}

/*.Image{
  width:200px;
  height:200px;
  
}
.bulb{
  width:1400px;
  height: 400px;
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
}*/
.button:hover{
  background-color: green;
  cursor:pointer;
}
.service{
 
background-color: antiquewhite;
color:black;
font-size:16px;
font-weight: 600;
width:1800px;
height:1000px;
display:flex;
flex-direction: column;
text-align: center;
justify-content: space-between;
align-content: space-between;
flex-wrap: wrap;
}

.service > div{
  

  background-color: sandybrown;
    margin:10px;
    width:300px;
    height: 300px;
    padding:15px;
    font-size:15px;
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    border-style: double;
}
.intro{
  background-color: wheat;
  color:black;
  font-size:17px;
  font-weight: 700;
  line-height: 20px;
  width:1800px;
  height: 700px;
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}
#demo1{
  font-size:17px;
  font-weight: 700;
  line-height: 20px;
  width:1600px;
  height: 700px;
  text-align: center;
}

#demo2{
  width:1800px;
  height: auto;
  font-size:18px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  display:flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
}
#demo{
  width:1800px;
  height: auto;
  font-size:18px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  display:flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
}
.button1{
  background-color: blue;
  color:black;
  font-size:17px;
  font-weight: bold;
  text-align: center;
  padding:18px;

  border-radius: 1px solid grey;
}

.button1:hover{
  background-color: green;
  cursor:pointer;
  text-decoration: underline;
}
.About{
  background-color: beige;
  color:black;
  font-size: 17px;
  font-weight: 700;
  line-height: 17px;
  text-transform: capitalize;
  width:1800px;
  height: 800px;
  text-align: center;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.About > div {
  background-color: beige;
  color:black;
  font-size: 17px;
  font-weight: 700;
  line-height: 17px;
  text-transform: capitalize;
  width:600px;
  height:500px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;

}


/*.about{
  width:700px;
  height:300px;
  color:black;
  font-size: 17px;
  text-transform: capitalize;
  display:flex;
  flex-direction: row;
  float:right;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: nowrap;
}*/
.welcome li{
  list-style-type: circle;
  text-decoration: none;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
}

.image{
  width:500px;
  height:400px;
 
}

.achievement{
  color:black;
  font-size:15px;
  line-height: 13px;
  text-transform: capitalize;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  width:1800px;
  height: 500px;;
}
.client{
 /* background-color: white;
  color:black;
  width:1800px;
  height: 400px;
  color:black;
  font-size:15px;
  font-weight: 600;
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 align-content: space-between;
 justify-content: space-between;
 padding:10px;
*/
 background-color: white;
 color:black;
 width:1800px;
 height: 500px;
 color:black;
 font-size:15px;
 font-weight: 600;
 display:flex;
 flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-content: space-between;
position: relative;
  

}

.client > div {
  /*background-color: sandybrown;
  color:black;
  font-size:13px;
  font-weight: 600;
  width:300px;
  height:200px;
  padding:30px;
  margin:10px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between  ;
  justify-content: space-between;
  border:1px solid grey;
  text-align: center;*/

  background-color: sandybrown;
    color:black;
    font-size:13px;
    font-weight: 600;
    width:200px;
    height:300px;
    padding:20px;
    margin:10px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    text-align: center;
    border-style:groove;
    border:1px solid grey;
    position: relative;
}
.achievement li{
  list-style-type: none;
  text-decoration: none;
}
.important{
  color:black;
  font-size:15px;
  line-height: 17px;
  text-transform: capitalize;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-content: space-between;
  width:1800px;
  height:300px;
}
